@font-face {
  font-family: 'FuturaLight';
  src: url('../fonts/Futura (Light).ttf');
  font-weight: normal;
  font-style: normal;
}
html {
    font-size: 18px;
}
body {
    font-family: FuturaLight;
}

// Content wrapper
.wrap {
    overflow-x: hidden;
    @media (min-width: 768px) {
        padding-left: 18%;
    }
}

// Main content area
.main {
    .make-sm-column(@main-sm-columns);
    .sidebar-primary & {
        .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
    }
}


// nav
.nav-main {
    .nav {
        padding-bottom: 1rem;
        & > li > a {
            padding: .5rem;
            color: #fff;
            font-weight: 300;
            font-size: 1rem;
            &:hover,
            &:focus {
                background: 0;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
        height: auto;
        background: 0;

        .nav {
            text-align: left;
            & > li {
                border-top: 1px solid #295;
                &:last-child {
                    border-bottom: 1px solid #295;
                }
                & > a {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    &:hover {
                        color: #19703e;
                    }
                }
                &.active > a {
                    background: #19703e;
                    color: #fff;
                }
            }
        }
    }
}

// brand

.brand {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .5rem 0;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;

    @media (min-width: 768px) {
        margin-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}


.banner .social {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
}

.banner .social li {
    display: inline-block;
}

.banner .social a {
    display: block;
    padding: .5rem .2rem;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
  .banner .social a {
    color: #19703e;
    &:hover {
      color: #fff;
    }
  }
}

.content {
    padding: 1.5rem 1rem;
    max-width: 550px;
    @media (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
