@font-face {
  font-family: 'FuturaLight';
  src: url('../fonts/Futura (Light).ttf');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Bitter:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);

html {
    font-size: @font-size-base;
}

// Content wrapper
.wrap {
    overflow-x: hidden;
    @media (min-width: 768px) {
        padding-left: @sidebar-width;
    }
}

// Main content area
.main {
    .make-sm-column(@main-sm-columns);
    .sidebar-primary & {
        .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
    }
}


// nav
.nav-main {
    .nav {
        padding-bottom: 1rem;
        & li.active > a {
            font-weight: bold;
            color: @accent-color;
        }
        & > li > a {
            padding: .5rem;
            color: @nav-link-color;
            font-weight: 300;
            font-size: 1rem;
            &:hover,
            &:focus {
                background: 0;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
        height: auto;
        background: 0;

        .nav {
            text-align: left;
            & > li {
                border-top: 1px solid @nav-link-divider-color;
                &:last-child {
                    border-bottom: 1px solid @nav-link-divider-color;
                }
                & > a {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    &:hover {
                        color: @brand-mute;
                    }
                }
            }
        }
    }
}

.content {
    padding: 0 1rem;
    @media (min-width: 768px) {
        padding: 1.5rem 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.content {
    max-width: 850px;
}


time.updated, .quiet {
    color: #aaa;
    font-size: 0.7em;
}
p.byline.author {
    color: #aaa;
    font-size: 0.7em;
    font-style: italic;
}

article header h1.entry-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    article header {
        margin-bottom: 1.5rem;
    }
}

table#archives {
    margin-top: 25px;
    td {
        padding-right: 20px;
        padding-bottom: 10px;
        vertical-align: top;
    }
}

.page-header {
    margin-top: 0;
}


h2.entry-title > a {
    text-decoration: none;
    text-transform: uppercase;
}

.content a {
    border-bottom: 1px solid #aaa;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.content a:hover {
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #f00;

}

blockquote {
  font-style: italic;
  font-family: 'Bitter', serif;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #999;
}
blockquote p:first-child:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
