.banner { 
  padding-right: 1rem;
  padding-left: 1rem;
  background: @brand-primary;
  text-align: center;

  @media (min-width: 768px) {
    position: fixed;
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0;
    width: @sidebar-width;
    height: 100%;
  }
}
